*{
margin: 0;
padding: 0;
box-sizing :border-box ;

}
body{
    background-color: rgb(255, 255, 255);

}

nav{
    background-color: black rgba(0, 0, 0, 0.7);
    width: 100%;
   
    
    
    }
    .nav-link ul li{
    list-style: none;
    float: right;
    position: relative;
    right: 160px;
     font-size: 20px;
    padding: 40px;
    margin-left: 60px; 
     
    
    }
    ul {
        margin: 0;
    }
    .nav-link {
        float: right;
    }
    .clear{
    
        clear: both;
    }
    .nav-link ul li a{
    
    text-decoration: none;
    color:black;
    
    }
    .img{
    float: left;
    position: absolute;
    left: 40px;
    top: 25px;
        
    }
    .img img{
    
    width: 150px;
    height: 40px;

    }
    .title input{
        border:  2px solid #717cff;
        border-radius: 20px;
        width: 10%;
        height: 7%;
        text-align: center;
        float: right;
        position: relative;
        bottom: 75px;
        right: 20px;
    }
    .nav:hover .title input{

background-color:#717cff;


    }

    .parent{

width: 100%;
height: 100%;
position: relative;

    }
    .child_1{
width: 20%;
height: 20%;
position: absolute;
left: 50px;
font-size: 40px; 

    }
span{
color: #717cff;

}
.child_2{
    width: 15%;
    height: 15%;
    position: absolute;
    left: 53px;
    top: 210px;
    color: gray;
    
        }
        .child_3{

            width: 10%;
            height: 10%;
            position: absolute;
            bottom: 250px;
            left: 50px;
            
        }
        
.child_3 input{

    border: 1px solid #717cff;
    border-radius: 20px;  
     width: 100%;
    height: 100%; 
    text-align: center;
    float: left;
     
    bottom: 170px;
    
    color: aliceblue;
    background-color: #717cff;
    
    
}


 .img_child4{
    width: 60%;
    height: 80%;
    position: absolute;
   right: 0px;
 bottom: 170px;
 }
 .img_child4 img{
width: 100%;
height: 100%;
position: absolute;
left: 200px;

 }

 .parent2{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
 }
 .title1 {
    text-align: center;

 }
 .title1 p{
color: gray;

 }

 .card{
    width: 25%;
    height: 26%;
    float: left;
    position: relative;
     margin: 50px;
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
    border: 4px solid white;
    margin-left: 23px;  
    transform: skew(200px);
   
    }
    .img_card{
    
    width: 40%;
    height: 40%;
    position: absolute;
    border-radius: 60px;
     margin: 20px; 
    }
    .img_card img{
    
    width: 100%;
    position: absolute;
    border-radius: 30px;
    
    
    }
    .word {
        width:31vh ;
        height: 41%;
       
        position: relative;
        left: 0px;
        top: 120px;
    }
    .word h2{
        font-size: 20px;
    }
    .word p{
        width: 31vh;
        color: gray;


    }
.parent3{
    width: 100%;
    height: 100%;
    position: relative;
    top: 250px;
}
 .title2 {
     
     text-align: center; 
     
     
     


 }
 .title2 p{
color: gray;
 } 
 .cards{
    position: absolute;
    width: 100%;
    height: 100%;
    
 }

 .cardla{

 position: relative;
 width: 29%;
 height: 50%;
box-sizing: border-box;
  overflow: hidden; 
 background-size: cover;
  float: left; 
  padding: 50px;
  margin: 28px;
  background-color: rgba(255, 255, 255, 0.7);
 }
 .cardla_img{
 width: 100%;
 height: 100%;
 
 
 
    
    
 }
 
 .cardla_img img{
     width: 95%;
     height: 95%;
     background-size: cover;
 
 
 }
 
 
 .overlay_1{
 background-color: rgba(0, 0, 0, .7);
 transition: 3s;
 position: absolute;

 
 }
 .card-caption_1{
    width: 100%;
    height: 100%;
    
    position: relative;
    
     color: rgb(0, 0, 0);
     
     background-color: rgb(255, 255, 255);
    
         
     }
.card-caption_1 h6{
    color: gray;
}
.button{
width: 100%;
height: 100%;
position: relative;
}
    
.button input{
        position: absolute; 
    border: 1px solid #717cff;
    border-radius: 20px;  
     width: 11%;
    height: 8%; 
    text-align: center;
    right: 680px;
     bottom: 80px;
        
     
    color: rgb(253, 253, 253);
    background-color: #717cff;

}
.parent4{

    width: 100%;
    height: 100%;
    margin-top: 360px;
     position: relative;
   
    
    
}

.caption{
    text-align: center;
    

}
.caption P{

    color: gray;
}
.card3{
    width: 26%;
    height: 60%;
    float: left;
    padding: 26px;
    margin: 50px;
position: relative;
    
    border-radius: 4px;

}
.card3_title {
position: absolute;
    top: 255px;
}

.card3_title p{
    color: gray;
}
.caption2{
    position: absolute;
    left: 65px;
}
.input input{
position: absolute;
    border: 1px solid #717cff;
    border-radius: 20px;  
     width: 9%;
    height: 8%; 
    text-align: center;
   bottom: 80px;
   right: 90;
   

    color: aliceblue;
    background-color: #717cff;
    
}
.clear{
    clear: both;
}
footer{
width: 100%;
height: 70%;
background-color: #717cff;
position: relative;

}
.link{
    width: 100%;
    height: 30%;
    position: absolute;
    top: 65px;

}
.link ul li{
    width: 34%;
    height: 67px;
    float: right;
    list-style: none;
    padding: 20px;
    position: relative;
    color: white;
    top: 20px;
    font-size: 25px;
    

}
.link ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    
    
}
.img-link{
width: 100%;
position: absolute;
float: left;
}
.img-link img{
    width: 150px;
    height: 80px;
    margin: 80px;

}
.title-link{
    border:  2px solid #717cff;
    border-radius: 20px;
    width: 22%;
    height: 7%;
    font-size: 20px;
    color: white;
    float: left;
    position: relative;
   top: 200px;
    left: 70px;
    
}
.caption-link{
width: 100%;
position: absolute;
bottom: 10px;
left: 70px;
color: white;

}
